<div>
    <h1>Curriculums</h1>
{% if curriculums %}
    <ul>
    {% for curriculum in curriculums %}
        <li><a href="/cvmanager/curriculum/{{ curriculum.id }}/">{{ curriculum.target_tittle }}</a></li>
        <p>{{ curriculum.link }}</p>
    {% endfor %}
    </ul>
{% else %}
    <p>No curriculums are available.</p>
{% endif %}
</div>