{% if people %}
    <ul>
    {% for person in people %}
        <li><a href="/cvmanager/people/{{ person.id }}/">{{ person.lastName }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No person are available.</p>
{% endif %}